/* Importamos una gran variedad de fuentes para cada personalidad */
@import url('vars.css');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:wght@300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&family=Geist:wght@100..900&family=JetBrains+Mono:wght@100..800&family=Lora:wght@400..700&family=Montserrat:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:wght@400..900&family=Poppins:wght@100..900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300..700&family=Roboto:wght@100..900&family=Sniglet&family=Space+Grotesk:wght@300..700&family=VT323&display=swap');
@import url('normalize.css');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

* {
  transition: color, background-color 0.25s ease-in-out;
}

/* ============================
   ESTILOS BASE
   ============================ */

body {
  font-family: var(--main-font);
  color: var(--text-color-primary);
}

.text-center {
  text-align: center;
  color: var(--color-principal);
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 0 2rem;
  background-color: var(--bg-primary);
}

.sidebar {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main {
  grid-column-start: 3;
  grid-column-end: 8;
}

.sidebar>* {
  margin: 1.5rem;
}

.contact-container>ul {
  text-decoration: none;
  list-style: none;
}

.contact-container>ul>li {
  margin: 32px 0;
  padding: 0;
}

.contact-container>ul>li>a {
  text-decoration: none;
  color: var(--anchor-color);
}

.contact-container > h3, .contact-container > h4, .contact-container > h5 {
  font-variant: caps;
  font-weight: bolder;
  color: var(--anchor-color);
}

.contact-container>ul {
  padding: 0;
}

.icon {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  color: var(--icon-color);
}

.sidebar {
  background-color: var(--bg-sidebar);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar>div {
  margin: 10px 1rem;
}

.perfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--bg-primary);
}

.header>h1 {
  margin: 2rem 0 0 0;
}

.header>h3 {
  color: var(--text-color-secondary);
  font-size: small;
  margin: 0;
}

.menu {
  display: none;
}

.table {
  max-width: 88%;
  overflow: scroll;
  scrollbar-width: 1rem thin;
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead > tr {
  background-color: var(--bg-sidebar);
  text-align: left;
}

thead > tr > th {
  color: var(--anchor-color);
  border: 1px solid var(--text-color-primary);
}

th,
td {
  padding: 8px;
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .sidebar {
    grid-area: 1 / 1 / 2 / 2;
  }

  .main {
    grid-area: 1 / 2 / 2 / 5;
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 700px) {
  .container {
    display: block;
    margin: 1rem 1rem;
    background-color: transparent;
  }

  body {
    background-color: var(--bg-primary);
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main {
    margin-top: 1rem;
  }

  .menu {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--anchor-color);
  }

  .menu.active {
    position: fixed;
  }
}

.centrar-texto,
.text-center, .centrar-imagen, .image-center {
  text-align: center;
}

.resaltado-naranja,
.orange-highlighted {
  color: #e34c26;
  font-weight: bold;
}

.resaltado-azul,
.blue-highlighted {
  color: blue;
  font-weight: bold;
}
