:root {
  --bg-sidebar: #e5e5e5;
  --bg-primary: #ffffffb2;
  --anchor-color: #000000;
  --text-color-primary: #000000;
  --text-color-secondary: #555555;
  --icon-bg: #ffffff;
  --icon-color: #000000;
  --main-font: 'Geist', sans-serif;
}